@font-face {
    font-family: Linux Libertine;
    src: url('/fonts/linux-libertine/LinLibertine_R.otf') format('opentype');
}
@font-face {
    font-family: Linux Libertine;
    src: url('/fonts/linux-libertine/LinLibertine_RI.otf') format('opentype');
    font-style: italic;
}
@font-face {
    font-family: Linux Libertine;
    src: url('/fonts/linux-libertine/LinLibertine_RB.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: Linux Libertine;
    src: url('/fonts/linux-libertine/LinLibertine_RBI.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Sarasa Mono;
    src: url('/fonts/sarasa-monoT-sc-regular.ttf') format('truetype');
}
@font-face {
    font-family: Sarasa Mono;
    src: url('/fonts/sarasa-monoT-sc-bold.ttf') format('truetype');
    font-weight: bold;
}

