$font-body-size: 1.2rem;
$footnote-size: 0.8rem;
$mono-stack: Sarasa Mono, monospace;
$serif-stack: Linux Libertine, Sarasa Mono, serif;

::selection {
  background: #F9CAF9;
}

body {
    background-color: #EEEEEE;
    margin-bottom: 7rem;
}

#header {
    background-color: white;
    height: 5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    position: fixed;
    width: 100%;
    p {
        color: black;
        font-family: $mono-stack;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 18%;
        a {
            color: black;
            text-decoration: none;
        }
    }
}

#content {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 8rem;
    h1 {
        font-family: Linux Libertine Display, $serif-stack;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0rem;
    }
    #subtitle {
        margin-bottom: 2rem;
    }
    h2 {
        font-family: $mono-stack;
        font-size: $font-body-size;
        font-weight: bold;
        margin-top: 3rem;
    }
    p, li, a {
        color: black;
        font-family: $serif-stack;
        font-size: $font-body-size;
        line-height: 2rem;
    }
    sup {
        line-height: 0rem;
    }
    sup a {
        line-height: $footnote-size;
        vertical-align: top;
        font-size: $footnote-size;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 100%;
        max-height: 50rem;
    }
    blockquote {
        background-color: #E0E0E0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    code {
        font-family: $mono-stack;
        font-size: 1rem;
    }
}

div.highlight {
    padding-left: 2rem;
    padding-right: 2rem;
}

