<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/blog/styles.css">
    <link rel="alternate" href="https://imyxh.net/feed.xml" type="application/atom+xml">
    <link rel="me" href="https://weirder.earth/@imyxh">
  </head>

  <body>
    <div id="header">
      <p>░▒▓ <a href="/">imyxh.net/</a> <a href="/blog/">blog/</a></p>
    </div>
    <hr>
    <div id="content" lang="en-us">
      {{ content }}
    </div>
  </body>

</html>

