---
layout: default
---

<head>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>

<h1>{{ page.title }}</h1>
<p id="subtitle">{{ page.date | date: "%Y, %B %d (%A)" }}</p>

{{ content }}

