/* vim: set shiftwidth=2: */

@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_R.otf') format('opentype');
}

@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RI.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RB.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: Linux Libertine;
  src: url('fonts/linux-libertine/LinLibertine_RBI.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Linux Libertine Display;
  src: url('fonts/linux-libertine/LinLibertine_DR.otf') format('opentype');
}

@font-face {
  font-family: Iosevka;
  src: url('fonts/iosevka/woff2/iosevka-regular.woff2') format('woff2');
  src: url('fonts/iosevka/woff/iosevka-regular.woff') format('woff');
}

@font-face {
  font-family: Iosevka;
  src: url('fonts/iosevka/woff2/iosevka-bold.woff2') format('woff2');
  src: url('fonts/iosevka/woff/iosevka-bold.woff') format('woff');
  font-weight: bold;
}

