/* vim: set shiftwidth=2: */

::selection {
  background: #f9caf9;
}

html, body {
  margin: 0;
  padding: 0;
}

code {
  font-family: Iosevka;
  font-size: 0.9em;
}

div#content {
  background-color: #f9f9f9;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

div#header {
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 14%;
  padding-left: 20%;
  padding-bottom: 1%;
}

div#intro {
  background-color: #eeeeee;
  left: 0;
  right: 0;
  padding-top: 1%;
  padding-left: 20%;
  padding-bottom: 1%;
}

div#content p, div#content h2 {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  color: #FFFFFF;
  font-family: "Libertinus Serif Display";
  font-size: 3em;
  font-weight: normal;
  text-align: left;
}

h2 {
  font-family: "Iosevka";
  font-size: 2em;
  font-weight: bold;
}

p {
  font-family: "Libertinus Serif";
  font-size: 1.6em;
  line-height: 175%;
  hyphens: auto;
}

p a {
  color: inherit;
  background-color: #fcf2c2;
}

p em {
  font-variant-caps: small-caps;
  font-style: normal;
}

