/* vim: set shiftwidth=2: */

::selection {
  background: #f9caf9;
}

html, body {
  margin: 0;
  padding: 0;
}

code {
  font-family: Iosevka;
  font-size: 0.9em;
}

div#bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.75);
  color: #FFFFFF;
}

div#content {
  background-color: #f9f9f9;
  width: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

div#header {
  background-color: #000000;
  background-image: url('noise.png');
  top: 0;
  left: 0;
  right: 0;
  padding-top: 14%;
  padding-left: 20%;
  padding-bottom: 1%;
}

div#intro {
  background-color: #eeeeee;
  left: 0;
  right: 0;
  padding-top: 1%;
  padding-left: 20%;
  padding-bottom: 2%;
}

div#sections {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

div#sections p {
  font-family: 'Iosevka';
  font-size: 1.5em;
  writing-mode: vertical-lr;
  text-align: left;
  text-orientation: sideways;
  font-weight: normal;
  line-height: 220%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

div#sections p a {
  color: #DDDDDD;
  text-decoration: none;
}

div#content p, div#content h2 {
  margin-left: 20%;
  margin-right: 20%;
}

div.block, div.expandblock {
  position: relative;
}

div.block div h2, div.expandblock div h2 {
  display: block;
  padding-top: 2em;
}

div.block div p, div.expandblock div p {
  display: block;
  padding-bottom: 2em;
}

h1 {
  color: #FFFFFF;
  font-family: 'Linux Libertine Display';
  font-size: 3em;
  font-weight: normal;
  text-align: left;
}

h2 {
  font-family: 'Iosevka';
  font-size: 2em;
  font-weight: bold;
}

p.one {
  font-family: 'Linux Libertine';
  font-size: 1.6em;
  line-height: 175%;
  hyphens: auto;
}

p.one a {
  color: inherit;
  background-color: #fcf2c2;
}

p.one em {
  font-variant-caps: small-caps;
  font-style: normal;
}

