/* vim: set shiftwidth=2: */

body {
  max-width: 60rem;
  padding: 2rem;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.4;
}

button, select {
  font-family: monospace;
}

table, th, td {
  border: 1px solid black;
}

